stages:
  # - build
  - test
  - deploy

# docker-build-frontend:
#   stage: build
#   image: docker:cli
#   services: [docker:dind]
#   before_script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#   script:
#     - docker build --pull -t "$CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_REF_SLUG" -f frontend/docker/Dockerfile frontend/
#     - docker push "$CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_REF_SLUG"

# docker-build-backend:
#   stage: build
#   image: docker:cli
#   services: [docker:dind]
#   before_script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#   script:
#     - docker build --pull -t "$CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG" -f backend/docker/Dockerfile backend/
#     - docker push "$CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG"

frontend-unit-tests:
  stage: test
  image: node:20-bullseye
  before_script:
    - apt-get update && apt-get install -y make
  script:
    - cd frontend && npm ci
    - make tests

backend-unit-tests:
  stage: test
  image: ubuntu:22.04
  before_script:
    - apt-get update && apt-get install -y curl bash build-essential
    - curl -fsSL https://bun.sh/install | bash
    - export BUN_INSTALL="$HOME/.bun"
    - export PATH="$BUN_INSTALL/bin:$PATH"
    - bun install
  script:
    - cd backend
    - make tests

backend-lint:
  stage: test
  image: oven/bun:1
  before_script:
    - apt-get update && apt-get install make
  script:
    - cd backend
    - bun install --dev
    - make lint

frontend-lint:
  stage: test
  image: node:current-bullseye
  before_script:
    - apt-get update && apt-get install -y make
  script:
    - cd frontend
    - npm ci
    - npm run lint
