stages:
  # - build
  - test
  - deploy

# docker-build-frontend:
#   stage: build
#   image: docker:cli
#   services: [docker:dind]
#   before_script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#   script:
#     - docker build --pull -t "$CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_REF_SLUG" -f frontend/docker/Dockerfile frontend/
#     - docker push "$CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_REF_SLUG"

# docker-build-backend:
#   stage: build
#   image: docker:cli
#   services: [docker:dind]
#   before_script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#   script:
#     - docker build --pull -t "$CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG" -f backend/docker/Dockerfile backend/
#     - docker push "$CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG"

frontend-unit-tests:
  stage: test
  image: node:20-bullseye
  before_script:
    - apt-get update && apt-get install -y make
  script:
    - cd frontend && npm ci
    - make tests

backend-unit-tests:
  stage: test
  image: docker:25.0.3
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
    DATABASE_URL: "postgresql://tbpuser:tbppassword@localhost:5432/travel_budget_planner"
  before_script:
    - apk add --no-cache make npm
  script:
    - docker-compose up -d db
    - docker-compose run --rm backend make test
    - docker-compose down -v --remove-orphans

backend-lint:
  stage: test
  image: oven/bun:1
  before_script:
    - apt-get update && apt-get install make
  script:
    - cd backend
    - bun install --dev
    - make lint

frontend-lint:
  stage: test
  image: node:current-bullseye
  before_script:
    - apt-get update && apt-get install -y make
  script:
    - cd frontend
    - npm ci
    - npm run lint
